h3 {
  margin: 30px auto;
  padding: 10px;
  text-align: center;
  background-color: aqua;
  border-radius: 5px;
  width: 70%;
}
h6 {
  margin: 10px;
  text-align: center;
  background-color: #4e5357;
  border-radius: 15px;
  padding: 0.45rem;
}
p {
  background-color: blanchedalmond;
  text-align: center;
  border-radius: 10px;
  margin: 10px;
}

h4 {
  margin: 2px;
  background-color: #0f1313;
  padding: 3px;
  color: #2de11d;
}
body {
  background-color: black;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 3px;
  margin: 3px;
}

nav ul li {
  list-style: none;
  background-color: #d0215cbd;
  color: rgb(0, 0, 0);
  padding: 3px 10px;
  margin: 4px 10px;
  border-radius: 10px 10px 0px 0px;
  font-weight: 700;
  font-size: 1.2rem;
}

nav ul li:hover {
  color: rgb(255, 255, 255);
}

#noteList {
  margin: 10px auto;
  width: 98%;
}

#myTextArea {
  margin: 10px auto;
  width: 98%;
  border: 1px solid;
  padding: 10px;
  border-radius: 20px;
}

.active {
  color: white;
}

.note {
  white-space: pre;
  border-radius: 20px;
  padding: 7px;
}
img {
  border-radius: 20px;
}
.success,
.error {
  color: white;
  padding: 20px;
  text-align: center;
  width: 50%;
  border-radius: 25px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

.success {
  background: green;
}

.error {
  background: red;
}
.addSpace {
  height: 750px;
}

/* Start of new css April 12th 2019 */
/* Hide everything at start up */
#renameFileCabForm,
#headingMainFolder,
#headingSubFolder,
#headingNote,
#mainFolderForm,
#subFolderForm,
#noteForm,
#settingsForm {
  display: none;
}

h6 > span {
  font-weight: 900;
  color: #2de11d;
}
#mainFolderForm,
#subFolderForm,
#renameFileCabForm,
#settingsForm {
  max-width: 70%;
  margin: 14px auto;
}
#noteForm {
  max-width: 97%;
  margin: 0 auto;
}

#addWindow {
  background-color: blueviolet;
  margin-top: 40px;
}
p {
  width: 60%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px;
}
/* settings form  */
#settingsForm {
  background-color: white;
}
input[type="radio"] {
  margin: 10px;
  font-size: 0.5rem;
}
/* h2 {
  color: #2de11d;
} */
.deleteFile {
  color: red;
  margin: 12px;
}
.autoLoad {
  color: #007bff;
  font-size: 0.6rem;
}
#settingsForm {
  border: 20px solid white;
  border-radius: 20px;
}
