h6,
h3 {
  margin: 10px;
  text-align: center;
  background-color: aqua;
  border-radius: 15px;
}
p {
  background-color: blanchedalmond;
  text-align: center;
  border-radius: 10px;
  margin: 10px;
}
/* the note section */
h4 {
  margin: 2px;
  background-color: aqua;
  padding: 3px;
}
body {
  background-color: blueviolet;
}

section ul {
  list-style: none;
  padding: 0;
  margin: 0px;
  background-color: blueviolet;
}
section li {
  display: inline;
  background-color: #5cabda;
  color: rgb(0, 0, 0);
  padding: 0 3px;
  border-radius: 15px 50px 30px 5px;
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: blueviolet;
}
nav li {
  display: inline;
  background-color: #00ffffbd;
  color: rgb(0, 0, 0);
  padding: 3px 3px;
  margin: 0px 10px;
  border-radius: 10px 10px 0px 0px;
}

nav li:hover {
  color: rgb(255, 255, 255);
}

#noteList {
  margin: 10px auto;
  width: 98%;
}

#myTextArea {
  margin: 10px auto;
  width: 98%;
  border: 1px solid;
  padding: 10px;
  border-radius: 20px;
}

.active {
  color: white;
}

.note {
  white-space: pre;
  border-radius: 20px;
  padding: 7px;
}
img {
  border-radius: 20px;
}
.success,
.error {
  color: white;
  padding: 20px;
  text-align: center;
  width: 50%;
  border-radius: 25px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

.success {
  background: green;
}

.error {
  background: red;
}
.addSpace {
  height: 750px;
}

/* Start of new css April 12th 2019 */
/* Hide everything at start up */
#headingMainFolder,
#headingSubFolder,
#headingNote,
#mainFolderForm,
#subFolderForm,
#noteForm {
  display: none;
}

h6 > span {
  font-weight: 900;
  color: blueviolet;
}
#mainFolderForm,
#subFolderForm {
  max-width: 70%;
  margin: 14px auto;
}
#noteForm {
  max-width: 97%;
  margin: 0 auto;
}

/* working on below */
#addWindow {
  background-color: blueviolet;
  margin-top: 40px;
}
