body {
  background-color: white;
}
nav ul li {
  background-color: #00ffffbd;
  color: rgb(0, 0, 0);
}
h4 {
  background-color: black;
  color: #2de11d;
  margin: 9px;
}
h6 {
  background-color: #222543;
}
h6 > span {
  color: #2de11d;
}
